body{
  margin: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: inter;
  background-color: #1b1b1b;
}
.grid{
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 80vw;
  height: 80vh;
}
header{
  height: 7vh;
  width: 80vw;
  background-color: #2a2a2a;
  margin-bottom: 10px;
  align-items: center;
  display: flex;
}
.card{
  background-color: #2a2a2a;
  padding: 0px 25px 25px 25px;
}
.top{
  padding: 0px 25px 0px 25px;
}
h3{
  color: #ffffff;
}
a{
  color: #ffffff;
  text-decoration: none;
}
p{
  color: #a7a7a7;
}
button{
  height: 30%;
  width: 20%;
  border-radius: 10px;
  border: none;
}
button:hover{
  background-color: #ffe7ae;
}